@layer reset, theme, base, components, utils;

@layer reset {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    * {
        margin: 0;
    }

    input,
    button {
        font-family: inherit;
    }

    button {
        cursor: pointer;
    }
}

@layer theme {
    @font-face {
        font-family: 'Roboto';
        src: url('/assets/fonts/Roboto-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Roboto';
        src: url('/assets/fonts/Roboto-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }

    :root {
        --font-bold: 700;

        --white: hsl(0, 0%, 100%);
        --grey: hsl(0, 0%,58%);
        --blue-800: hsl(234, 29%, 20%);
        --blue-700: hsl(235, 18%, 26%);
        --red: hsl(4, 100%, 67%);

        --gradient-start: hsl(15, 100%, 61%);
        --gradient-end: hsl(346, 100%, 66%);

        --spacing-100: 0.5rem; /* 8px */
        --spacing-200: 1rem; /* 16px */
        --spacing-300: 1.5rem; /* 24px */
        --spacing-400: 2rem; /* 32px */
        --spacing-500: 2.5rem; /* 40px */
        --spacing-600: 3rem; /* 48px */
        --spacing-800: 4rem; /* 64px */
        --spacing-900: 4.5rem; /* 72px */
        --spacing-1300: 6.5rem; /* 104px */
    }
}

@layer base {
    :root {
        height: 100%;
    }

    body {
        height: inherit;
        display: flex;
        flex-direction: column;
        background-color: var(--blue-700);
        font-family: Roboto, sans-serif;
        letter-spacing: 0;
        font-weight: 400;
        line-height: 1.5;
        font-size: 1rem;

        @media (width >= 640px) {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 73px 80px;
        }
    }
}

@layer components {
    .main {
        flex-grow: 1;
        background-color: var(--white);
    }

    picture {
        display: flex;
        justify-content: center;

        img {
            max-width: 100%;
        }
    }

    .section {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-500);
        padding-block-start: var(--spacing-500);
        padding-block-end: 2.75rem;
        padding-inline: var(--spacing-300);

        .article {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-300);

            h1,
            p,
            li {
                color: var(--blue-800);
            }
            
            ul {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-100);
                list-style: none;
                padding: 0;
            }

            li {
                display: flex;
                gap: var(--spacing-200);

                &::before {
                    content: url('/assets/images/icon-list.svg');
                }
            }
        }

        form {
            --border-radius: 8px;

            display: flex;
            flex-direction: column;

            label {
                color: var(--blue-800);
                margin-block-end: var(--spacing-100);
            }
    
            input {
                color: var(--blue-800);
                font-size: inherit;
                border-radius: var(--border-radius);
                border: 1px solid var(--grey);
                padding-block: var(--spacing-200);
                padding-inline: var(--spacing-300);
                margin-block-end: var(--spacing-300);

                &::placeholder {
                    color: var(--grey);
                }
            }
    
            button {
                background-color: var(--blue-800);
                color: var(--white);
                border: none;
                border-radius: var(--border-radius);
                padding-block: var(--spacing-200);
                padding-inline: var(--spacing-600);

                &:hover {
                    background: linear-gradient(to right, var(--gradient-start), var(--gradient-end));
                }
            }
        }
    }

    @media (width >= 640px) {
        .main {
            flex-grow: 0;
            border-radius: 36px;
            padding-block: 42.86px;
            padding-inline: var(--spacing-500);
        }

        picture img {
            max-width: none;
        }

        .section {
            gap: var(--spacing-300);
            padding: 0;
            padding-block-start: var(--spacing-500);

            form input {
                margin-block-end: var(--spacing-200);
            }
        }
    }

    @media (width >= 1024px) {
        .main {
            width: 904px;
            height: 641px;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            gap: var(--spacing-800);
            padding-block: var(--spacing-300);
            padding-inline: var(--spacing-400);
        }

        .section {
            gap: var(--spacing-400);
            padding: 0;

            .article {
                gap: var(--spacing-400);
            }

            form input {
                margin-block-end: var(--spacing-300);
            }
        }
    }
}

@layer utils {
    .text-preset-1,
    .text-preset-2-bold,
    .text-preset-3 {
        font-weight: var(--font-bold);
    }

    .text-preset-1 {
        font-size: 2.5rem;
        line-height: 1;

        @media (width >= 640px) {
            font-size: 3.5rem;
        }
    }

    .text-preset-3 {
        font-size: 0.75rem;
    }
}